/* .note-editable ul,
.note-editable ol {
    list-style-type: initial !important;
    padding-left: 1.5rem !important;
} */

.note-editable ul,
.note-editable ol {
    padding-left: 20px !important;
    margin-left: 10px !important;
}

.note-editable li {
    line-height: 1.6 !important;
    margin-bottom: 6px !important;
}

.note-editable ul > li::marker,
.note-editable ol > li::marker {
    font-size: 16px !important;
}

/* Custom bullet types */
ul.disc {
    list-style-type: disc;
}

ul.circle {
    list-style-type: circle;
}

ul.square {
    list-style-type: square;
}

/* Custom numbered list types */
ol.decimal {
    list-style-type: decimal;
}

ol.lower-alpha {
    list-style-type: lower-alpha;
}

ol.upper-roman {
    list-style-type: upper-roman;
}
ol.lower-roman {
    list-style-type: lower-roman;
}
ol.upper-alpha {
    list-style-type: upper-alpha;
}
ol.lower-greek {
    list-style-type: lower-greek;
}
ol.lower-latin {
    list-style-type: lower-latin;
}
